//
//  GEShared.xcconfig
//  
//
//  Created by Grigory Entin on 07/05/16.
//
//

SDKROOT = iphoneos10
IPHONEOS_DEPLOYMENT_TARGET = 9.3

TEST_HOST = $(BUILT_PRODUCTS_DIR)/TestHostApp.app/TestHostApp

SWIFT_OPTIMIZATION_LEVEL__Configuration__Debug = -Onone
SWIFT_OPTIMIZATION_LEVEL__Configuration__Release = -Owholemodule
SWIFT_OPTIMIZATION_LEVEL = $(SWIFT_OPTIMIZATION_LEVEL__Configuration__$(CONFIGURATION))

LLVM_LTO = YES
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CLANG_ANALYZER_LOCALIZABILITY_EMPTY_CONTEXT = YES
CLANG_ANALYZER_NONNULL = YES

ENABLE_BITCODE__Configuration__Debug = NO
ENABLE_BITCODE__Configuration__Release = NO
ENABLE_BITCODE = $(ENABLE_BITCODE__Configuration__$(CONFIGURATION))

SWIFT_TREAT_WARNINGS_AS_ERRORS = YES
