//
//  RSSReader-app.xcconfig
//  RSSReader
//
//  Created by Grigory Entin on 24.01.15.
//  Copyright (c) 2015 Grigory Entin. All rights reserved.
//

XC_APPSEE_API_KEY = e12fd3aac1364b68a6a20600933525f0
XC_FABRIC_API_KEY = a041320bf4147ab842dc85b6f431b045c1c49276
XC_FABRIC_BUILD_SECRET = 27f2c7fbda9310a1956a713b282cc20ec139b0186d65e5199af00ed597f319a7

ANALYTICS_ENABLED = YES

OTHER_SWIFT_FLAGS__ANALYTICS_ENABLED__YES = -D ANALYTICS_ENABLED
OTHER_LDFLAGS__ANALYTICS_ENABLED__YES = -framework Fabric -framework Crashlytics -lFlurry_6.0.0

OTHER_SWIFT_FLAGS = $(inherited) $(OTHER_SWIFT_FLAGS__ANALYTICS_ENABLED__$(ANALYTICS_ENABLED))
OTHER_LDFLAGS = $(inherited) $(OTHER_LDFLAGS__ANALYTICS_ENABLED__$(ANALYTICS_ENABLED))
