//
//  RSSReader-app.xcconfig
//  RSSReader
//
//  Created by Grigory Entin on 24.01.15.
//  Copyright (c) 2015 Grigory Entin. All rights reserved.
//

ANALYTICS_ENABLED = YES

CRASHLYTICS_ENABLED = YES
CRASHLYTICS_ENABLED[sdk=iphoneos*] = YES
UXCAM_ENABLED = NO
FLURRY_ENABLED = NO
APPSEE_ENABLED = NO
DZ_READABILITY_ENABLED = NO

///

XC_APPSEE_API_KEY = e12fd3aac1364b68a6a20600933525f0
XC_FABRIC_API_KEY = a041320bf4147ab842dc85b6f431b045c1c49276
XC_FABRIC_BUILD_SECRET = 27f2c7fbda9310a1956a713b282cc20ec139b0186d65e5199af00ed597f319a7

///

OTHER_SWIFT_FLAGS__UXCAM_ENABLED__YES = -D UXCAM_ENABLED
GCC_PREPROCESSOR_DEFINITIONS__UXCAM_ENABLED__YES = UXCAM_ENABLED
OTHER_LDFLAGS__UXCAM_ENABLED__YES = // -framework UXCam

OTHER_SWIFT_FLAGS__DZ_READABILITY_ENABLED__YES = -D DZ_READABILITY_ENABLED
GCC_PREPROCESSOR_DEFINITIONS__DZ_READABILITY_ENABLED__YES = DZ_READABILITY_ENABLED
OTHER_LDFLAGS__DZ_READABILITY_ENABLED__YES = -framework DZReadability

OTHER_SWIFT_FLAGS__FLURRY_ENABLED__YES = -D FLURRY_ENABLED
GCC_PREPROCESSOR_DEFINITIONS__FLURRY_ENABLED__YES = FLURRY_ENABLED
OTHER_LDFLAGS__FLURRY_ENABLED__YES = -lFlurry_7.3.0

OTHER_SWIFT_FLAGS__CRASHLYTICS_ENABLED__YES = -D CRASHLYTICS_ENABLED
GCC_PREPROCESSOR_DEFINITIONS__CRASHLYTICS_ENABLED__YES = CRASHLYTICS_ENABLED
OTHER_LDFLAGS__CRASHLYTICS_ENABLED__YES = -framework Fabric -framework Crashlytics

FRAMEWORK_SEARCH_PATHS = $(inherited) $(SRCROOT)/Pods/Fabric/iOS $(SRCROOT)/Pods/Crashlytics/iOS $(SRCROOT)/Pods/Flurry-iOS-SDK/Flurry

OTHER_SWIFT_FLAGS__APPSEE_ENABLED__YES = -D APPSEE_ENABLED
GCC_PREPROCESSOR_DEFINITIONS__APPSEE_ENABLED__YES = APPSEE_ENABLED
OTHER_LDFLAGS__APPSEE_ENABLED__YES = -framework Appsee

GCC_PREPROCESSOR_DEFINITIONS__ANALYTICS_ENABLED__YES = $(GCC_PREPROCESSOR_DEFINITIONS__UXCAM_ENABLED__$(UXCAM_ENABLED)) $(GCC_PREPROCESSOR_DEFINITIONS__FLURRY_ENABLED__$(FLURRY_ENABLED)) $(GCC_PREPROCESSOR_DEFINITIONS__CRASHLYTICS_ENABLED__$(CRASHLYTICS_ENABLED)) $(GCC_PREPROCESSOR_DEFINITIONS__APPSEE_ENABLED__$(APPSEE_ENABLED)) $(GCC_PREPROCESSOR_DEFINITIONS__DZ_READABILITY_ENABLED__$(DZ_READABILITY_ENABLED))
OTHER_SWIFT_FLAGS__ANALYTICS_ENABLED__YES = -D ANALYTICS_ENABLED $(OTHER_SWIFT_FLAGS__UXCAM_ENABLED__$(UXCAM_ENABLED)) $(OTHER_SWIFT_FLAGS__FLURRY_ENABLED__$(FLURRY_ENABLED)) $(OTHER_SWIFT_FLAGS__CRASHLYTICS_ENABLED__$(CRASHLYTICS_ENABLED)) $(OTHER_SWIFT_FLAGS__APPSEE_ENABLED__$(APPSEE_ENABLED)) $(OTHER_SWIFT_FLAGS__DZ_READABILITY_ENABLED__$(DZ_READABILITY_ENABLED))
OTHER_LDFLAGS__ANALYTICS_ENABLED__YES = $(OTHER_LDFLAGS__UXCAM_ENABLED__$(UXCAM_ENABLED)) $(OTHER_LDFLAGS__FLURRY_ENABLED__$(FLURRY_ENABLED)) $(OTHER_LDFLAGS__CRASHLYTICS_ENABLED__$(CRASHLYTICS_ENABLED)) $(OTHER_LDFLAGS__APPSEE_ENABLED__$(APPSEE_ENABLED)) $(OTHER_LDFLAGS__DZ_READABILITY_ENABLED__$(DZ_READABILITY_ENABLED))

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GCC_PREPROCESSOR_DEFINITIONS__ANALYTICS_ENABLED__$(ANALYTICS_ENABLED))

OTHER_SWIFT_FLAGS = $(inherited) $(OTHER_SWIFT_FLAGS__ANALYTICS_ENABLED__$(ANALYTICS_ENABLED))
OTHER_LDFLAGS = $(inherited) $(OTHER_LDFLAGS__ANALYTICS_ENABLED__$(ANALYTICS_ENABLED))
