<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>bundleShortVersion</string>
			<key>DefaultValue</key>
			<string>?</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>First Aid</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>resetDefaults</string>
			<key>Title</key>
			<string>Reset Defaults</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>forceStoreRemoval</string>
			<key>Title</key>
			<string>Erase All</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>stateRestorationEnabled</string>
			<key>Title</key>
			<string>State Restoration</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>login</string>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>Title</key>
			<string>Login</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<true/>
			<key>Key</key>
			<string>password</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Password</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>showUnreadOnly</string>
			<key>Title</key>
			<string>Show Unread Only</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>hideBarsOnSwipe</string>
			<key>Title</key>
			<string>Hide Bars on Swipe</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>pageViewsEnabled</string>
			<key>Title</key>
			<string>Page Views</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>analyticsEnabled</string>
			<key>Title</key>
			<string>Analytics</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Debugging</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Logging Method</string>
			<key>Key</key>
			<string>defaultLogKind</string>
			<key>DefaultValue</key>
			<string>oslog</string>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>Unified Log</string>
				<string>NSLog</string>
				<string>Swift print</string>
			</array>
			<key>Values</key>
			<array>
				<string>none</string>
				<string>oslog</string>
				<string>nslog</string>
				<string>print</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Dump in Trace</string>
			<key>Key</key>
			<string>dumpInTraceEnabled</string>
			<key>DefaultValue</key>
			<string>oslog</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>traceEnabled</string>
			<key>Title</key>
			<string>Tracing</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>sourceLabelsEnabled</string>
			<key>Title</key>
			<string>Source Labels</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>memoryProfilingEnabled</string>
			<key>Title</key>
			<string>Memory Profiling</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Tables</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>fetchResultsAnimationEnabled</string>
			<key>Title</key>
			<string>Animate Fetch Results</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>groupingTableUpdatesEnabled</string>
			<key>Title</key>
			<string>Group Table Updates</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>updateCellsInPlaceEnabled</string>
			<key>Title</key>
			<string>Update Cells in Place</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>suppressInPlaceCellUpdates</string>
			<key>Title</key>
			<string>Suppress In Place Cell Updates</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Saving and Importing</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>batchSavingEnabled</string>
			<key>Title</key>
			<string>Batch Saving</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>backgroundImportEnabled</string>
			<key>Title</key>
			<string>Background Import</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>itemsAreSortedByLoadDate</string>
			<key>Title</key>
			<string>Sort Items by Load Date</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Table Layout Optimization</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>fixedHeightItemRowsEnabled</string>
			<key>Title</key>
			<string>Fixed Height Item Rows</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>reloadDataForTableUpdatesEnabled</string>
			<key>Title</key>
			<string>Reload Lists on Any Change</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>frequencyAndWeightBasedTableRowHeightEstimatorEnabled</string>
			<key>Title</key>
			<string>Row Height Estimation</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>cellHeightCachingEnabled</string>
			<key>Title</key>
			<string>Cell Height Caching</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>cellSystemLayoutSizeCachingEnabled</string>
			<key>Title</key>
			<string>Cell Layout Size Caching</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Performance Tuning</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>showDates</string>
			<key>Title</key>
			<string>Show Dates</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>showAllItemsCount</string>
			<key>Title</key>
			<string>Show All Items Count</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>showUnreadMark</string>
			<key>Title</key>
			<string>Show Unread Mark</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Loading</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Items to Load Past Visible</string>
			<key>Key</key>
			<string>numberOfItemsToLoadPastVisible</string>
			<key>DefaultValue</key>
			<integer>10</integer>
			<key>Titles</key>
			<array>
				<string>10</string>
				<string>20</string>
				<string>30</string>
				<string>40</string>
				<string>50</string>
				<string>60</string>
				<string>70</string>
				<string>80</string>
				<string>90</string>
				<string>100</string>
			</array>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>20</integer>
				<integer>30</integer>
				<integer>40</integer>
				<integer>50</integer>
				<integer>60</integer>
				<integer>70</integer>
				<integer>80</integer>
				<integer>90</integer>
				<integer>100</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Items to Load Initially</string>
			<key>Key</key>
			<string>numberOfItemsToLoadInitially</string>
			<key>DefaultValue</key>
			<integer>20</integer>
			<key>Titles</key>
			<array>
				<string>10</string>
				<string>20</string>
				<string>30</string>
				<string>40</string>
				<string>50</string>
				<string>60</string>
				<string>70</string>
				<string>80</string>
				<string>90</string>
				<string>100</string>
			</array>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>20</integer>
				<integer>30</integer>
				<integer>40</integer>
				<integer>50</integer>
				<integer>60</integer>
				<integer>70</integer>
				<integer>80</integer>
				<integer>90</integer>
				<integer>100</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Items to Load Later</string>
			<key>Key</key>
			<string>numberOfItemsToLoadLater</string>
			<key>DefaultValue</key>
			<integer>50</integer>
			<key>Titles</key>
			<array>
				<string>10</string>
				<string>20</string>
				<string>30</string>
				<string>40</string>
				<string>50</string>
				<string>60</string>
				<string>70</string>
				<string>80</string>
				<string>90</string>
				<string>100</string>
			</array>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>20</integer>
				<integer>30</integer>
				<integer>40</integer>
				<integer>50</integer>
				<integer>60</integer>
				<integer>70</integer>
				<integer>80</integer>
				<integer>90</integer>
				<integer>100</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Load Items till Last</string>
			<key>Key</key>
			<string>loadItemsTillLast</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Title</key>
			<string>Core Data</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Fetch Batch Size</string>
			<key>Key</key>
			<string>fetchBatchSize</string>
			<key>DefaultValue</key>
			<integer>20</integer>
			<key>Titles</key>
			<array>
				<string>10</string>
				<string>20</string>
				<string>30</string>
				<string>40</string>
				<string>50</string>
				<string>60</string>
				<string>70</string>
				<string>80</string>
				<string>90</string>
				<string>100</string>
			</array>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>20</integer>
				<integer>30</integer>
				<integer>40</integer>
				<integer>50</integer>
				<integer>60</integer>
				<integer>70</integer>
				<integer>80</integer>
				<integer>90</integer>
				<integer>100</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>coreDataCachingEnabled</string>
			<key>Title</key>
			<string>Core Data Caching</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
