//
//  RSSReader-release.xcconfig
//  RSSReader
//
//  Created by Grigory Entin on 18.01.17.
//  Copyright © 2017 Grigory Entin. All rights reserved.
//

EMBEDDED_CONTENT_CONTAINS_SWIFT = NO

#include "../../Pods/Target Support Files/Pods-iOS/Pods-iOS.release.xcconfig"
#include "../../RSSReader/RSSReader-app.xcconfig"
