<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RSSReader.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C444F53B1B2E53F200A6E378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4CBA8441B2A38B800FAEB00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4CBA84D1B2A38B900FAEB00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4CDD39C1A5350B40087DD05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4CDD3B31A5350B50087DD05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
